/node_modules/
/dist/*
/src/__fixtures__/visual-tests/*/test-results/
/.idea/
/coverage/

!/dist/path-bool.js
!/dist/path-bool.js.map
!/dist/path-bool.umd.js
!/dist/path-bool.umd.js.map
!/dist/path-bool.core.js
!/dist/path-bool.core.js.map
!/dist/path-bool.core.umd.js
!/dist/path-bool.core.umd.js.map
